@import url('https://fonts.googleapis.com/css?family=Anton');

.loader-section {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--gris2);
  z-index:999;
  transition: all 1s 1s ease-out;
  opacity:1;
}
.loaded {
  opacity:0;
  z-index:-1;
}
.loader__text {
  color: var(--blanco);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Anton, sans-serif;
  margin-top: calc(25vh - 330px);
}
.loader__filmstrip {
  position: relative;
  width: 56px;
  height: 70px;
  top: calc(25vh - 70px);
  background: var(--blanco);
  z-index: -1;
}
.loader__filmstrip:before, .loader__filmstrip:after {
  content: "";
  position: absolute;
  height: 200%;
  border-left: 5px dashed var(--gris2);
  -webkit-animation: roll .9s infinite;
          animation: roll .9s infinite;
}
.loader__filmstrip:before {
  left: 5px;
}
.loader__filmstrip:after {
  right: 5px;
}

@-webkit-keyframes roll {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}

@keyframes roll {
  0% {
    top: -100%;
  }
  100% {
    top: 0px;
  }
}